.input {
    width: 90%;
    background: transparent;
    color: white;
    border-bottom: 1px solid gray;
    margin: 10px;
}

.td {
    margin: 5px;
}

.error {
    color: white;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.redInput {
    width: 90%;
    background: transparent;
    color: white;
    border: 1px solid red;
    box-shadow: -1px 1px 10px 10px rgba(189, 14, 29, 0.2);
    box-shadow: ;
    margin: 10px;
}